:root {
  font-family: "Overpass", sans-serif,;
}


body {
  background-color: #141519;
}
.container {
  display: flex;
  width: 99%;
  height: 800px;
  justify-content: center;
  align-items: center;
  border: dotted yellow 5px;
}

/* The rating card*/
.flex-item {
  width: 410px;
  height: 405px;
  background-color: #1c232c;
  border-radius: 30px;
  position: relative;
}

p { 
  font-family: "Overpass", sans-serif;;
}

.component1 {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 60px;
  margin: 40px 0 0 40px;
  align-items: center;
  justify-content: center;
}

.img1 {
  width: 30px;
  height: 30px;
  align-self: center;
}

.secondh {
  color: white;
  font-family: "Overpass", sans-serif;
  margin-left: 40px;
  /*border: dotted red;*/
  width: 250px;
}

.component3 {
  /*border: dotted yellow;*/
  font-family: "Overpass", sans-serif;
  width: 325px;
  margin-left: 42px;
  margin-bottom: 3px;
}
.p1 {
  color: lightgrey;
  /*border: dotted lightgreen;*/
  width: 323px;
  font-size: 15px;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: -10px;
  align-items: center;
  /*border: dotted red;*/
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -1px;
}

.container2 > div {
  margin-right: calc(20px - 40px); /* set the desired gap size */
}

.container2 > div:last-child {
  margin-right: 0; /* remove the gap on the last item */
}

/* Below is commented out and the function is being used by individual components

.container2:hover {
  cursor: pointer;
}
*/

.crc1 {
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc1:hover {
  background-color: grey;
  cursor: pointer;
}

.crc2 {
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc2:hover {
  background-color: grey;
  cursor: pointer;
}

.crc3 {
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc3:hover {
  background-color: grey;
  cursor: pointer;
}

.crc4 {
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc4:hover {
  background-color: grey;
  cursor: pointer;
}
.crc5 {
  width: 50px;
  height: 50px;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crc5:hover {
  background-color: grey;
  cursor: pointer;
}

#crcp {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 1.2em;
  font-weight: 400px;
}

.crc.selected {
  background-color: #f7b500;
}

.button1 {
  background-color: orange;
  border-radius: 30px;
  border: none;
  /*border: dotted yellow;*/
  width: 330px;
  height: 50px;
  margin-left: 39px;
  margin-top: 20px;
  color: white;
  font-family: "Overpass", Sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

.button1:hover {
  background-color: white;
  color: orange;
  cursor: pointer;
}

/*once submit button is clicked*/

.thank-you-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 108px;
  width: 162px;
  margin: 40px 0 0 123px;
}

.input-div {
  display: flex;
  height: 40px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 105px;
  border-radius: 30px;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  color: orange;
}

.thank-you-text {
  display: flex;
  height: 50px;
  width: 200px;
  color: lightgrey;
  font-family: "Overpass", sans-serif;
  font-size: 30px;
  margin: 30px 0 0 130px;
}

.paraText {
  display: flex;
  height: 50px;
  width: 300px;
  color: lightgrey;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 10px 0 0 58px;
}
